<template name="showsInfo">
    {{> navbar}}


    {{#with getShowInfo}}

    {{/with}}


    {{#with show}}

        <section class = "sectionMovieInfo">
            <div class = "sectionI1">
                <div class = "movieInfo">
                        <img src="{{this.show.images.poster.medium}}">
                        <p>VOTES: <span id = "votes">{{this.show.votes}}</span></p>
                        <p>RATE: <span id = "rate">{{this.show.imdb.data.imdbRating}}</span></p>

                </div>
            </div>


            <div class = "sectionI2">
                <div class = "profileInfo">
                    <p id = "movieNameInfo">{{this.show.title}} <span style = "color: #ececec; font-weight: 100; font-size: 0.7em;"></span></p>
                    <p id = "subNameInfo">{{this.show.tagline}}</p>
                    <p id = "resumeInfo">{{this.show.overview}}</p>
                    <p id = "genresInfo"><span style = "color: #ffec00">Géneros:</span> {{this.show.genres}} </p>
                    <p id = "genresInfo"><span style = "color: #ffec00">Director:</span> {{this.show.imdb.data.Director}} </p>
                    <p id = "genresInfo"><span style = "color: #ffec00">Actor(s):</span> {{this.show.imdb.data.Actors}} </p>
                </div>
            </div>

        </section>
    {{/with}}


</template>