<template name="moviesInfo">
    {{> navbar}}

            <section class = "sectionMovieInfo">
                <div class = "sectionI1">
                    <div class = "movieInfo">

                        {{#with movieImages}}
                            <img src="{{this.data.images.poster.medium}}">
                        {{/with}}


                        {{#with movie}}
                            <p>VOTES: <span id = "votes">{{this.data.votes}}</span></p>
                            <p>RATE: <span id = "rate">{{this.data.rating}}</span></p>
                            <p>VER <a style="text-decoration: none" href="{{this.data.trailer}}" target="_blank" ><span id = "seeTrailer">TRAILER</span></a></p>
                        {{/with}}

                    </div>
                </div>

                {{#with movie}}
                    <div class = "sectionI2">
                        <div class = "profileInfo">
                            <p id = "movieNameInfo">{{this.data.title}} <span style = "color: #ececec; font-weight: 100; font-size: 0.7em;">({{this.data.released}})</span></p>
                            <p id = "subNameInfo">{{this.data.tagline}}</p>
                            <p id = "resumeInfo">{{this.data.overview}}</p>
                            <p id = "genresInfo"><span style = "color: #ffec00">Géneros:</span> {{this.data.genres}} </p>
                        </div>
                    </div>
                {{/with}}
            </section>












    <div class = "menuBack">
        <ul class="menuList">
            <li>home</li>
            <li>friends</li>
            <li>recommendations</li>
            <li>movies</li>
            <li>shows</li>
            <li>get out</li>
        </ul>
    </div>
</template>