<template name= "moviesInfo">

    {{> navbar}}

    {{#with getMovieInfo}}

    {{/with}}

    {{#with movie}}
    <section id = "popUp">
        <div>
            <p id = "trailerNameInfo" style = "color: #ffec00; font-weight: 500; font-size: 1.4em;">{{this.movie.title}}</p>
            <img id = "closePopup" src="img/closeBtn.png">
            <iframe id = "trailerPopup" border="none" src="{{this.movie.trailer}}"></iframe>
        </div>
    </section>

            <section class = "sectionMovieInfo">
                <div class = "sectionI1">
                    <div class = "movieInfo">


                            <img src="{{this.movie.images.poster.medium}}">



                            <p>VOTES: <span id = "votes">{{this.movie.votes}}</span></p>
                            <p>RATE: <span id = "rate">{{this.movie.imdb.data.imdbRating}}</span></p>
                            <p id = seeTrailerPopup>VER <span id = "seeTrailer">TRAILER</span></p>


                    </div>
                </div>


                    <div class = "sectionI2">
                        <div class = "profileInfo">
                            <p id = "movieNameInfo">{{this.movie.title}} <span style = "color: #ececec; font-weight: 100; font-size: 0.7em;">({{this.movie.released}})</span></p>
                            <p id = "subNameInfo">{{this.movie.tagline}}</p>
                            <p id = "resumeInfo">{{this.movie.overview}}</p>
                            <p id = "genresInfo"><span style = "color: #ffec00">Géneros:</span> {{this.movie.genres}} </p>
                            <p id = "genresInfo"><span style = "color: #ffec00">Director:</span> {{this.movie.imdb.data.Director}} </p>
                            <p id = "genresInfo"><span style = "color: #ffec00">Actor(s):</span> {{this.movie.imdb.data.Actors}} </p>
                        </div>
                    </div>

            </section>
                        {{/with}}






</template>