<template name= "moviesInfo">

    {{> navbar}}

    <div class = "menuBack">
        <ul class="menuList">
            <li class = "hlink">Home</li>
            <li class = "flink">Friends</li>
            <li class = "mlink">Movies</li>
            <li class = "rmlink">Movies Recommendations</li>
            <li class = "slink">Shows</li>
            <li class = "rslink">Shows recommendations</li>
            <li class = "olink">Get out</li>
        </ul>
    </div>
    {{#with movie}}
    <section id = "popUp">
        <div>
            <p id = "trailerNameInfo" style = "color: #ffec00; font-weight: 500; font-size: 1.4em;">{{this.data.title}}</p>
            <img id = "closePopup" src="img/closeBtn.png">
            <iframe id = "trailerPopup" border="none" src="{{this.data.trailer}}"></iframe>
        </div>
    </section>

            <section class = "sectionMovieInfo">
                <div class = "sectionI1">
                    <div class = "movieInfo">


                            <img src="{{this.data.images.poster.medium}}">



                            <p>VOTES: <span id = "votes">{{this.data.votes}}</span></p>
                            <p>RATE: <span id = "rate">{{this.data.rating}}</span></p>
                            <p id = seeTrailerPopup>VER <span id = "seeTrailer">TRAILER</span></p>


                    </div>
                </div>


                    <div class = "sectionI2">
                        <div class = "profileInfo">
                            <p id = "movieNameInfo">{{this.data.title}} <span style = "color: #ececec; font-weight: 100; font-size: 0.7em;">({{this.data.released}})</span></p>
                            <p id = "subNameInfo">{{this.data.tagline}}</p>
                            <p id = "resumeInfo">{{this.data.overview}}</p>
                            <p id = "genresInfo"><span style = "color: #ffec00">Géneros:</span> {{this.data.genres}} </p>
                        </div>
                    </div>

            </section>
                        {{/with}}






</template>