<template name= "shows">

    {{> navbar}}

    {{#with getWatched}}{{/with}}


    <section>
        {{#with watched}}

            <div class = "content">

                {{#each data}}
                    <div class ="sectionS" id = "show1">
                        <img class = "thumb" src="{{this.show.images.poster.medium}}">
                        <p><span class = "movieName">{{this.show.title}} <br> </span><span class = "Name2">VOTES: <span class = "value">{{this.show.votes}}</span> RANKING: <span class = "value">{{this.show.imdb.data.imdbRating}}</span></span></p>
                    </div>
                {{/each}}

            </div>

        {{/with}}
    </section>










</template>