<template name="navbar">
    {{#with navbarHeader}}
        <nav>
            <div class = "top-nav">
                <div id = "logo">
                    <img id="logoHome" src="img/logo.png">
                </div>

                <div class = "options">
                    <ul>
                        <li id = "profilePage">{{name}}</li>
                        <li class = "menu" style = "border-left: 1px #ffec00 solid">menu</li>
                        <li id="logout">get <span>out</span></li>
                    </ul>
                </div>

                <div class = "options620px">
                    <img class = "menu" src="img/menuIcon.png">
                </div>

                <div class = "avatarIMG">
                    <img src="{{picture}}">
                </div>

            </div>

            <div class = "menuBack">
                <ul class="menuList">
                    <li class = "hlink">Home</li>
                    <li class = "flink">Friends</li>
                    <li class = "mlink">Movies</li>
                    <li class = "rmlink">Movies Recommendations</li>
                    <li class = "slink">Shows</li>
                    <li class = "rslink">Shows recommendations</li>
                    <li class = "olink">Get out</li>
                </ul>
            </div>
        </nav>
    {{/with}}
</template>