<template name="home">

    {{> navbar}}

    <section>
        <div class = "content">
            <div class ="section" id = "s1">
                <p>VER <span class = "Name1">AMIGOS | </span><span class = "Name2">AMIGOS: <span class = "value">X</span> SEGUIDORES: <span class = "value">X</span></span></p>
                <div id = "seeMore1"><img src="img/seeMore.png"></div>
                <div id = "grafo"><img src="img/grafoImg.png"></div>

            </div>


            <div class = "section" id = "s2">
                <p>SÉRIES <span class = "Name1">VISTAS</span></p>
                <div id = "seeMore2"><img src="img/seeMore.png"></div>


            </div>


            <div class = "section" id = "s3">
                <p>SÉRIES <span class = "Name1">RECOMENDADAS</span></p>
                <div id = "seeMore3"><img src="img/seeMore.png"></div>

            </div>


            <div class = "section" id = "s4">
                <p>FILMES <span class = "Name1">VISTOS</span></p>
                <div id = "seeMore4"><img src="img/seeMore.png"></div>

            </div>


            <div class = "section" id = "s5">
                <p>FILMES <span class = "Name1">RECOMENDADOS</span></p>
                <div id = "seeMore5"><img src="img/seeMore.png"></div>

            </div>


            <div class = "section" id = "s6">
                <p>GÉNEROS <span class = "Name1">FAVORITOS</span></p>
                <div id = "sectionGenre">
                    <div class="chart">
                        <canvas id="genre-chart" width="150" height="150"></canvas>
                    </div>
                    {{#with getChartGenre}}
                    {{/with}}

                    {{#with chartGenre}}
                        <div id="canvas-holder">
                            <div class="genreList">
                                <ul>
                                    {{#each chart}}
                                        <li id = "sq1"><div class = "square" style="background-color: #edda2f"></div>{{this.name}} - <span style="color: #ffec00; font-weight: 500;">{{this.value}}</span></li>
                                    {{/each}}
                                    <!--<li id = "sq2"><div class = "square" style="background-color: #ffec00"></div>Acção - <span style="color: #ffec00; font-weight: 500;">25%</span></li>
                                    <li id = "sq3"><div class = "square" style="background-color: #a8941a"></div>Comédia - <span style="color: #ffec00; font-weight: 500;">20%</span></li>
                                    <li id = "sq4"><div class = "square" style="background-color: #fff803"></div>Triller - <span style="color: #ffec00; font-weight: 500;">15%</span></li>
                                    <li id = "sq5"><div class = "square" style="background-color: #efde97"></div>Aventura - <span style="color: #ffec00; font-weight: 500;">10%</span></li>
                                    <li id = "sq6"><div class = "square" style="background-color: #e2c73d"></div>Outros - <span style="color: #ffec00; font-weight: 500;">5%</span></li>-->
                                </ul>
                            </div>
                        </div>
                    {{/with}}
                </div>
            </div>

        </div>


    </section>

    <div class = "menuBack">
        <ul class="menuList">
            <li>home</li>
            <li>friends</li>
            <li>recommendations</li>
            <li>movies</li>
            <li>shows</li>
            <li>get out</li>
        </ul>
    </div>



</template>