<template name="home">

    {{> navbar}}

    {{#with getStats}}
    {{/with}}

    <section>
        <div class = "content">
            <div class ="section" id = "s1">
                {{#with stats}}
                    <p>WATCH <span class = "Name1">FRIENDS | </span><span class = "Name2">FOLLOWERS: <span class = "value">{{data.network.followers}}</span> FOLLOWING: <span class = "value">{{data.network.following}}</span></span></p>
                    <div id = "seeMore1"><img src="img/seeMore.png"></div>
                    <div id = "grafo"><img src="img/grafoImg.png"></div>
                {{/with}}

            </div>


            <div class = "section" id = "s2">
                <p>SHOWS <span class = "Name1">WATCHED</span></p>
                <div id = "seeMore2"><img src="img/seeMore.png"></div>


            </div>


            <div class = "section" id = "s3">
                <p>SHOWS <span class = "Name1">RECOMMENDED</span></p>
                <div id = "seeMore3"><img src="img/seeMore.png"></div>

            </div>


            <div class = "section" id = "s4">
                <p>MOVIES <span class = "Name1">WATCHED</span></p>
                <div id = "seeMore4"><img src="img/seeMore.png"></div>

            </div>


            <div class = "section" id = "s5">
                <p>MOVIES <span class = "Name1">RECOMMENDED</span></p>
                <div id = "seeMore5"><img src="img/seeMore.png"></div>

            </div>


            <div class = "section" id = "s6">
                <p>FAVORITE <span class = "Name1">GENRES</span></p>
                <div id = "sectionGenre">

                    {{#with getChartGenre}}
                    {{/with}}


                    <div class="chart">
                        <canvas id="genre-chart" width="150" height="150"></canvas>
                    </div>



                        <div id="canvas-holder">
                            <div class="genreList">
                                <ul>
                                    {{#each chartGenre}}
                                        <li id = "sq1">
                                            <div class = "square" style="background-color: #edda2f"></div>
                                            {{this.name}} - <span style="color: #ffec00; font-weight: 500;"> {{this.value}} % </span>
                                        </li>
                                    {{/each}}

                                </ul>
                            </div>
                        </div>

                </div>
            </div>

        </div>


    </section>

    <div class = "menuBack">
        <ul class="menuList">
            <li>home</li>
            <li>friends</li>
            <li>recommendations</li>
            <li>movies</li>
            <li>shows</li>
            <li>get out</li>
        </ul>
    </div>



</template>