


.sectionProfile{
    position: fixed;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.sectionP1{
    width: 45%;
    height: 100%;
    float: left;

}


.sectionP1 .profile{
    position: relative;
    width: 100%;
    height: 100%;
}

.sectionP1 .profile img{
    z-index: 2;
    width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    border-radius: 50%;
    border: 1px #ffec00 solid;

}

.sectionP1 .profile p{
    width: 100%;
    height: 10px;
    text-align: center;
    color: #ececec;
    font-size: 1.2em;
}

.sectionP1 span{
    color:#ffec00;
}

.sectionP2{
    width: 55%;
    height: 100%;
    float: right;

}


.sectionP2 .profileInfo{
    width: 100%;
    position: fixed;
    margin-top: 200px;

}

.sectionP2 #usernameInfo{
    color: #ffec00;
    font-weight: 500;
    font-size: 2em;
}

.sectionP2 #nameInfo{
    color: #ececec;
    font-size: 2.2em;
}

.sectionP2 #descriptionInfo{
    color: #ececec;
}

.sectionP2 #dataInfo{
    color: #ececec;
}

.sectionP2 #localInfo{
    color: #ececec;
}





@media (max-width: 1240px) {



    .menuList li{
        font-size: 3em;
    }

}

@media (max-width: 720px) {


    .top-nav .options620px img{
        visibility: visible;
        cursor: pointer;
    }

    .top-nav .avatarIMG{
        display: none;
    }

    .top-nav .options{
        margin-left: -20px;
        padding-left: 0px;

    }

    .menuList li{
        font-size: 2em;
    }


}


/*menu*/

.menuList{
    padding-left: 0px;
    margin-left: 0px;
    text-align: center;
    margin-top: 250px;

}

.menuList li{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;

    list-style: none;
    font-size: 3em;
    font-weight: 300;
    color: #ececec;
    margin-bottom: 10px;
}

.menuList li:hover{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;

    color: #ffec00;
    cursor: pointer;
}








