<template name= "movies">

    {{> navbar}}

    {{#with getWatched}}

    {{/with}}

    {{#with getMovie}}

    {{/with}}

    <div class = "menuBack">
        <ul class="menuList">
            <li class = "hlink">Home</li>
            <li class = "flink">Friends</li>
            <li class = "mlink">Movies</li>
            <li class = "rmlink">Movies Recommendations</li>
            <li class = "slink">Shows</li>
            <li class = "rslink">Shows recommendations</li>
            <li class = "olink">Get out</li>
        </ul>
    </div>

    <section>
        {{#with watched}}

                <div class = "content">

                    {{#each data}}
                            <div class ="sectionM" id = "f1">
                                    <img class = "thumb" src="{{this.movie.images.poster.medium}}">
                                <p><span class = "movieName">{{this.movie.title}} <br> </span><span class = "Name2">VOTES: <span class = "value">{{this.movie.votes}}</span> RANKING: <span class = "value">{{this.movie.rating}}</span></span></p>
                            </div>
                    {{/each}}

                </div>

        {{/with}}
    </section>










</template>