<template name= "movies">

    {{> navbar}}

    {{#with getWatched}}

    {{/with}}


    <section>
        {{#with watched}}
            <div class = "content">

                {{#each data}}
                        <div class ="sectionM" id = "f1">
                                <img src="img/thumb.jpg">

                            <p><span class = "movieName">{{this.movie.title}} | </span><span class = "Name2">VOTES: <span class = "value">x</span> RANKING: <span class = "value">x</span></span></p>

                        </div>
                {{/each}}

            </div>
        {{/with}}
    </section>







    <div class = "menuBack">
        <ul class="menuList">
            <li>home</li>
            <li>friends</li>
            <li>recommendations</li>
            <li>movies</li>
            <li>shows</li>
            <li>get out</li>
        </ul>
    </div>


</template>