<template name= "movies">

    {{> navbar}}

    {{#with getWatched}}

    {{/with}}

    {{#with getMovie}}

    {{/with}}

    <section>
        {{#with watched}}

                <div class = "content">

                    {{#each data}}
                            <div class ="sectionM" id = "f1">
                                    <img class = "thumb" src="{{this.movie.images.poster.medium}}">
                                <p><span class = "movieName">{{this.movie.title}} <br> </span><span class = "Name2">VOTES: <span class = "value">{{this.movie.votes}}</span> RANKING: <span class = "value">{{this.movie.rating}}</span></span></p>
                            </div>
                    {{/each}}

                </div>

        {{/with}}
    </section>







    <div class = "menuBack">
        <ul class="menuList">
            <li>home</li>
            <li>friends</li>
            <li>recommendations</li>
            <li>movies</li>
            <li>shows</li>
            <li>get out</li>
        </ul>
    </div>


</template>