<template name="recommendations">
    <nav>
        <div class = "top-nav">
            <div id = "logo">
                <img src="img/logo.png">
            </div>

            <div class = "options">
                <ul>
                    <li>tfrancisco</li>
                    <li class = "menu" style = "border-left: 1px #ffec00 solid">Recommendations</li>
                    <li class = "logout">get <span>out</span></li>
                </ul>
            </div>

            <div class = "options620px">
                <img class = "menu" src="img/menuIcon.png">
            </div>

            <div class = "avatarIMG">
                <img src="img/t.jpg">
            </div>

        </div>
    </nav>

    <section class = "sectionMovieInfo">
        <div class = "sectionR1">
            <div class = "movieInfo">
                <img src="img/f1.jpg">
                <p>VOTES: <span id = "votes">50</span></p>
                <p>RATE: <span id = "rate">100</span></p>
                <p>VER <span id = "seeTrailer">TRAILER</span></p>
                <p><span id = "partilha">PARTILHAR</span></p>
            </div>
        </div>

        <div class = "sectionR2">
            <div class = "profileInfo">
                <p id = "movieNameInfo">HOBBIT</p>
                <p id = "subNameInfo">The Battle of the Five Armies (2014)</p>
                <p id = "resumeInfo">Mere seconds after the events of "Desolation", Bilbo and Company continue to claim a mountain
                    of treasure that was guarded long ago: But with Gandalf the Grey also facing some formidable foes of his own,
                    the Hobbit is outmatched when the brutal army of orcs led by Azog the Defiler returns. But with other armies such as the elves
                    and the men of Lake-Town, which are unsure to be trusted, are put to the ultimate test when Smaug's wrath, Azog's sheer strength,
                    and Sauron's force of complete ends attack. All in all, the trusted armies have two choices: unite or die. But even worse, Bilbo
                    gets put on a knife edge and finds himself fighting with Hobbit warfare with all of his might for his dwarf-friends, as the hope
                    for Middle-Earth is all put in Bilbo's hands. The one "precious" thing to end it all.<br>querendo sempre conhecer e aprender mais.</p>
                <p id = "diretorInfo"><span style = "color: #ffec00">Data de Nascimento:</span> 14/07/1992</p>
                <p id = "atorInfo"><span style = "color: #ffec00">Actores:</span> Martin Freeman, Ian McKellen, Richard Armitage, Aindan Turner, Orlando Bloom, John Bell</p>
                <p id = "genresInfo"><span style = "color: #ffec00">Géneros:</span> Aventura, Acção</p>

            </div>
        </div>


    </section>



    <div class = "menuBack">
        <ul class="menuList">
            <li>home</li>
            <li>friends</li>
            <li>recommendations</li>
            <li>movies</li>
            <li>shows</li>
            <li>get out</li>
        </ul>
    </div>
</template>