.sectionShowInfo{
    position: relative;
    height: 600px;
}

.sectionRs1{
    width: 35%;
    height: 100%;
    float: left;

}


.sectionRs1 .movieInfo{
    position: relative;
    width: 100%;
    height: 100%;
}

.sectionRs1 .movieInfo img{
    z-index: 2;
    width: 45%;
    right: 100px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-top: 200px;
    border-bottom: #ffec00 solid 4px;


}

.sectionRs1 .movieInfo p{
    width: 100%;
    height: 250px;
    text-align: right;
    padding-right: 10px;
    color: #ececec;
    font-size: 1.0em;
}


.sectionRs1 span{
    color:#ffec00;
}

.sectionRs2{
    width: 60%;
    height: 100%;
    float: right;
}


.sectionRs2 .profileInfo{
    width: 100%;
    position: relative;
    margin-top: 200px;
}

.sectionRs2 #movieNameInfo{
    color: #ffec00;
    font-weight: 700;
    font-size: 2em;
}

.sectionRs2 #subNameInfo{
    margin-top: -30px;
    color: #ececec;
    font-size: 2.0em;
    width: 40%;
}

.sectionRs2 #resumeInfo{
    color: #ececec;
    width: 60%;
}


.sectionRs2 #recommendationList{
    width: auto;
    position: relative;
    display: inline;
    margin-top: 40px;
    color: #ececec;
    list-style: none;
    font-size: 1.2em;

}

.sectionRs2 #recommendationList p{
    width: auto;
    display: inline-block;
    margin-top: 20px;
    margin-left: 0;



}



@media (max-width: 1240px) {



    .menuList li{
        font-size: 3em;
    }

}

@media (max-width: 720px) {


    .top-nav .options620px img{
        visibility: visible;
        cursor: pointer;
    }

    .top-nav .avatarIMG{
        display: none;
    }

    .top-nav .options{
        margin-left: -20px;
        padding-left: 0px;

    }

    .menuList li{
        font-size: 2em;
    }


}


/*menu*/

.menuList{
    padding-left: 0px;
    margin-left: 0px;
    text-align: center;
    margin-top: 250px;

}

.menuList li{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;

    list-style: none;
    font-size: 3em;
    font-weight: 300;
    color: #ececec;
    margin-bottom: 10px;
}

.menuList li:hover{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;

    color: #ffec00;
    cursor: pointer;
}