<template name="showsRecommendations">


    {{> navbar}}

    {{#with getShowsRecommendation}}
    {{/with}}


    {{#with showsRecommendation}}
        {{#each data}}


            <section class = "sectionShowInfo">
                <div class = "sectionRs1">
                    <div class = "movieInfo">
                        <img src="{{this.images.poster.medium}}">
                    </div>
                </div>

                <div class = "sectionRs2">
                    <div class = "profileInfo">
                        <p id = "movieNameInfo">{{this.title}}</p>
                        <p id = "subNameInfo">{{this.tagline}}</p>
                        <p id = "resumeInfo">{{this.overview}}</p>

                    </div>
                    <ul id = "recommendationList">
                        <li><p>VOTES: <span id = "votesR" style="color:#ffec00"> {{this.votes}} </span>|</p>
                            <p>RATE: <span id = "rateR" style="color:#ffec00"> {{this.imdb.data.imdbRating}} </span>|</p>
                            <!--<p>VER MAIS<span id = "moreInfoR" style="color:#ffec00"> INFORMAÇÃO </span>|</p>-->
                            <p id = "refuse">RECUSAR<span id = "refuseR" style="color:#ffec00"> RECOMENDAÇÃO </span></p>
                        </li>
                    </ul>
                </div>



            </section>

        {{/each}}

    {{/with}}




</template>