<template name="showsRecommendations">


    {{> navbar}}


    {{#with getMoviesRecommendation}}

    {{/with}}






    {{#with moviesRecommendation}}
        {{#each data}}


            <section class = "sectionMovieInfo">
                <div class = "sectionR1">
                    <div class = "movieInfo">
                        <img src="{{this.images.poster.medium}}">
                        <p id = "resumeInfo">{{this.overview}}</p>
                    </div>
                </div>

                <div class = "sectionR2">
                    <div class = "profileInfo">
                        <p id = "movieNameInfo">{{this.title}}</p>
                        <p id = "subNameInfo">{{this.tagline}}</p>

                    </div>
                    <div >
                        <iframe id = "trailerBox" width="70%" height="auto" border="none" src="{{this.trailer}}"></iframe>
                    </div>
                    <ul id = "recommendationList">
                        <li><p>VOTES: <span id = "votesR" style="color:#ffec00"> {{this.votes}} </span>|</p>
                            <p>RATE: <span id = "rateR" style="color:#ffec00"> {{this.rating}} </span>|</p>
                            <!--<p>VER MAIS<span id = "moreInfoR" style="color:#ffec00"> INFORMAÇÃO </span>|</p>-->
                            <p>RECUSAR<span id = "refuseR" style="color:#ffec00"> RECOMENDAÇÃO </span></p>
                        </li>
                    </ul>
                </div>



            </section>

        {{/each}}

    {{/with}}



    <div class = "menuBack">
        <ul class="menuList">
            <li>home</li>
            <li>friends</li>
            <li>recommendations</li>
            <li>movies</li>
            <li>shows</li>
            <li>get out</li>
        </ul>
    </div>
</template>