body{
    background-color: #1c1c1c;
}

.link {
    stroke: #fff;
    stroke-width: 2px;
}

.node{
    stroke-width: 5px;
}

.node:hover{
    stroke: #fff;
    stroke-width: 4px;
    cursor:pointer;
}

.node text {
    stroke-width: 1px;
    stroke: #fff;
    pointer-events: none;
    font: 10px sans-serif;
}



/*List of Friends*/
.contentFriends{
    position: absolute;
    margin-top: 1050px;

    width: 100%;
    height: 50%;
}

.contentFriends .sectionFriends{
    display: inline-block;
    width: 15%;
    height: auto;
    margin-right: 0px;
    margin-left: 4.3%;
    margin-bottom: 5%;

}


.sectionFriends p{
    color: #ececec;
    position: absolute;

    padding-bottom: 10px;
    margin-top: 10px;

    font-size: 1.5em;
    font-weight: 300;
    text-align: center;

}

.sectionFriends .Name1{
    width: 60%;
    color: #ececec;
    text-align: center;
}



.sectionFriends img{
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 3px #ffec00 solid;
}

.sectionFriends img:hover{
    cursor: pointer;

}





/*menu*/

.menuList{
    padding-left: 0px;
    margin-left: 0px;
    text-align: center;
    margin-top: 250px;

}

.menuList li{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;

    list-style: none;
    font-size: 3em;
    font-weight: 300;
    color: #ececec;
    margin-bottom: 10px;
}

.menuList li:hover{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;

    color: #ffec00;
    cursor: pointer;
}




@media (max-width: 1240px) {



    .menuList li{
        font-size: 3em;
    }

}

@media (max-width: 720px) {


    .top-nav .options620px img{
        visibility: visible;
        cursor: pointer;
    }

    .top-nav .avatarIMG{
        display: none;
    }

    .top-nav .options{
        margin-left: -20px;
        padding-left: 0px;

    }

    .menuList li{
        font-size: 2em;
    }


}


