.sectionMovieInfo{
    position: relative;
    height: 800px;
    margin-bottom: 100px;
}

.sectionR1{
    width: 35%;
    height: 100%;
    float: left;
}

.sectionR1 .movieInfo{
    position: relative;
    width: 100%;
    height: 100%;
}

.sectionR1 .movieInfo img{
    z-index: 2;
    width: 45%;
    right: 100px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-top: 200px;
    border-bottom: #ffec00 solid 4px;
}

.sectionR1 .movieInfo p{
    width: 100%;
    height: 250px;
    text-align: right;
    padding-right: 10px;
    color: #ececec;
    font-size: 1.0em;
}

.sectionR1 #resumeInfo{
    color: #ececec;
    position: relative;
    width: 50%;
    overflow: scroll;
    overflow-x: hidden;
    heigth:330px;
    border-right:1px solid #ffec00;
    scrollbar-base-color:#ffec00;
    scrollbar-face-color:#ffec00;
    display: block;
    margin-left: auto;
    font-size: 1.2em;
}

::-webkit-scrollbar {
    width: 5px;
}



::-webkit-scrollbar-thumb {
    background-color: #ffec00;
} /* this will style the thumb, ignoring the track */



.sectionR1 span{
    color:#ffec00;
}

.sectionR2{
    width: 60%;
    height: 100%;
    float: right;
}


.sectionR2 .profileInfo{
    width: 100%;
    position: relative;
    margin-top: 200px;
}

.sectionR2 #movieNameInfo{
    color: #ffec00;
    font-weight: 700;
    font-size: 2em;
}

.sectionR2 #subNameInfo{
    margin-top: -30px;
    color: #ececec;
    font-size: 2.0em;
    width: 40%;
}



.sectionR2 #trailerBox{
    position: relative;

    margin-top: 40px;
    width: 80%;
    height: 400px;
    border:1px solid #ffec00;
}





.sectionR2 #recommendationList{
    width: auto;
    position: relative;
    display: inline;
    margin-top: 40px;
    color: #ececec;
    list-style: none;
    font-size: 1.2em;

}

.sectionR2 #recommendationList p{
    width: auto;
    display: inline-block;
    margin-top: 20px;
    margin-left: 0;
}



@media (max-width: 1240px) {
    .menuList li{
        font-size: 3em;
    }
}

@media (max-width: 720px) {


    .top-nav .options620px img{
        visibility: visible;
        cursor: pointer;
    }

    .top-nav .avatarIMG{
        display: none;
    }

    .top-nav .options{
        margin-left: -20px;
        padding-left: 0px;

    }

    .menuList li{
        font-size: 2em;
    }
}


/*menu*/

.menuList{
    padding-left: 0px;
    margin-left: 0px;
    text-align: center;
    margin-top: 250px;

}

.menuList li{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;

    list-style: none;
    font-size: 3em;
    font-weight: 300;
    color: #ececec;
    margin-bottom: 10px;
}

.menuList li:hover{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;

    color: #ffec00;
    cursor: pointer;
}