<template name = "friends">

    {{> navbar}}
    {{#with getFriends}}
    {{/with}}

    {{#with friends}}
    {{/with}}

    <div id = "grafo">

    </div>


    <div id = "genreGrafo">
        <div id = "grafoGenre">

            {{#with getChartGenre}}
            {{/with}}


            <div class="chart">
                <canvas id="genre-chart" width="150" height="150"></canvas>
            </div>



            <div id="canvas-holder">
                <div class="genreList">
                    <ul>
                        {{#each chartGenre}}
                            <li id = "sq1">
                                <div class = "square" style="background-color: #edda2f"></div>
                                {{this.name}} - <span style="color: #ffec00; font-weight: 500;"> {{this.value}} % </span>
                            </li>
                        {{/each}}

                    </ul>
                </div>
            </div>

        </div>
    </div>





</template>