<template name = "friends">

    {{> navbar}}
    {{#with getFriends}}
    {{/with}}


    <section>
        <div class = "contentFriends">
            {{#with friends}}
                {{#each data}}
                    <div class ="sectionFriends">
                        <img src="{{this.user.images.avatar.full}}">
                        <p><span class = "Name1">{{this.user.username}}</span></p>
                    </div>
                {{/each}}
            {{/with}}
        </div>
    </section>

    <div class = "menuBack">
        <ul class="menuList">
            <li>home</li>
            <li>friends</li>
            <li>recommendations</li>
            <li>movies</li>
            <li>shows</li>
            <li>get out</li>
        </ul>
    </div>



</template>