<template name = "friends">



    <nav>
        <div class = "top-nav">
            <div id = "logo">
                <a href="/home"><img src="img/logo.png"></a>
            </div>

            <div class = "options">
                <ul>
                    <li>tfrancisco</li>
                    <li class = "menu" style = "border-left: 1px #ffec00 solid">friends</li>
                    <li class = "logout">get <span>out</span></li>
                </ul>
            </div>

            <div class = "options620px">
                <img src="img/menuIcon.png">
            </div>

            <div class = "avatarIMG asd">
                <img src="img/t.jpg">
            </div>

        </div>
    </nav>






    <div class = "menuBack">
        <ul class="menuList">
            <li>home</li>
            <li>friends</li>
            <li>recommendations</li>
            <li>movies</li>
            <li>shows</li>
            <li>get out</li>
        </ul>
    </div>



</template>