<template name = "profile">

    {{> navbar}}

    {{#with getProfile}}
    {{/with}}

    {{#with getStats}}
    {{/with}}



        <div class = "menuBack">
            <ul class="menuList">
                <li>home</li>
                <li>friends</li>
                <li>recommendations</li>
                <li>movies</li>
                <li>shows</li>
                <li>get out</li>
            </ul>
        </div>

        <section class = "sectionProfile">
            <div class = "sectionP1">
                <div class = "profile">
                    {{#with profile}}
                        <img src="{{data.user.images.avatar.full}}">
                    {{/with}}

                    {{#with stats}}
                        <p>FOLLOWING: <span id = "friendsProfile">{{data.network.following}}</span></p>
                        <p>FOLLOWERS: <span id = "followersProfile">{{data.network.followers}}</span></p>
                        <p>MOVIES WATCHED: <span id = "timeWasteProfile">{{data.movies.watched}}</span></p>
                        <p>SHOWS WATCHED: <span id = "timeWasteProfile">{{data.shows.watched}}</span></p>
                    {{/with}}
                </div>
            </div>

            <div class = "sectionP2">
                {{#with profile}}
                    <div class = "profileInfo">
                        <p id = "usernameInfo">{{data.user.username}}</p>
                        <p id = "nameInfo">{{data.user.name}}</p>
                        <p id = "descriptionInfo">{{data.user.about}}</p>
                        <p id = "dataInfo"><span style = "color: #ffec00">Idade:</span> {{data.user.age}}</p>
                        <p id = "localInfo"><span style = "color: #ffec00">Localidade:</span> {{data.user.location}}</p>

                    </div>
                {{/with}}
            </div>


        </section>




</template>