<template name = "profile">

    {{#with getProfile}}
    {{/with}}

    {{#with profile}}
    <nav>
        <div class = "top-nav">
            <div id = "logo">
                <img src="img/logo.png">
            </div>

            <div class = "options">
                <ul>
                    <li>tfrancisco</li>
                    <li class = "menu" style = "border-left: 1px #ffec00 solid">profile</li>
                    <li class = "logout">get <span>out</span></li>
                </ul>
            </div>

            <div class = "options620px">
                <img src="img/menuIcon.png">
            </div>

            <div class = "avatarIMG">
                <img src="img/t.jpg">
            </div>

        </div>
    </nav>


    <div class = "menuBack">
        <ul class="menuList">
            <li>home</li>
            <li>friends</li>
            <li>recommendations</li>
            <li>movies</li>
            <li>shows</li>
            <li>get out</li>
        </ul>
    </div>

    <section class = "sectionProfile">
        <div class = "sectionP1">
            <div class = "profile">
                <img src="{{data.user.images.avatar.full}}">

                <p>AMIGOS: <span id = "friendsProfile">50</span></p>
                <p>SEGUIDORES: <span id = "followersProfile">100</span></p>
                <p>TEMPO GASTO: <span id = "timeWasteProfile">50H</span></p>
                <p style = "text-decoration: underline; cursor: pointer;">FACEBOOK</p>
            </div>
        </div>

        <div class = "sectionP2">
            <div class = "profileInfo">
                <p id = "usernameInfo">{{data.user.username}}</p>
                <p id = "nameInfo">{{data.user.name}}</p>
                <p id = "descriptionInfo">{{data.user.about}}</p>
                <p id = "dataInfo"><span style = "color: #ffec00">Idade:</span> {{data.user.age}}</p>
                <p id = "localInfo"><span style = "color: #ffec00">Localidade:</span> {{data.user.location}}</p>

            </div>
        </div>


    </section>
    {{/with}}

</template>